.details-card {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-card .card-header {
  background-color: #f8f9fa;
  border-bottom: none;
}

.details-card .card-body {
  padding: 20px;
}

.details-card .details-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.details-card .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.details-card dl {
  margin-bottom: 20px;
}

.details-card dt {
  font-weight: bold;
  margin-bottom: 5px;
}

.details-card dd {
  margin-bottom: 10px;
}

.details-card .card-footer {
  background-color: #f8f9fa;
  border-top: none;
  padding: 10px;
}

.details-card .btn-secondary {
  background-color: transparent;
  border-color: transparent;
  color: #007bff;
  text-decoration: none;
  padding: 0;
}

.details-card .btn-secondary:hover {
  color: #0056b3;
}

.nav {
  width: 300px;
  background: #d9d9d9;
  margin: 40px auto;
}

span {
  padding: 30px;
  background: #2d2f31;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s ease;
}

.slide li {
  padding: 30px;
}

#ingredients-touch,
#steps-touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#ingredients-touch:checked + .slide,
#steps-touch:checked + .slide {
  height: 300px;
}

.dropdown-item {
  cursor: pointer;
}

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
}

.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  background: #adadaf;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 0 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
